*{
    text-align: justify;
    text-justify: inter-word;
}
h1{

    text-align: center;
}
h2{

    text-align: center;
}
h3{

    text-align: center;
}
h4{

    text-align: center;
}
h5{

    text-align: center;
}
h6{

    text-align: center;
}